@charset "utf-8";

/*============================================
全ページ共通のスタイル
============================================*/

/* ブラウザによる初期スタイルをリセットし、レイアウトのずれをなくす */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span, ol, ul, li,
div, section, article,
main, aside, nav, header, footer,
img, iframe, details, summary, fieldset,
form, label, table, tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* フォントカテゴリ・サイズ・色 (対象:htmlタグ) */
html {
	font-family: Verdana,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
	font-size: 62.5%;
	color: #333;
}

/* (対象:bodyタグ) */
body {
	line-height: 2; /* 行の高さ */
}

/* マウスオーバー時にアンダーラインが引かれる (対象:aタグ) */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* 箇条書きの先頭に表示させるマーカーを消す (対象:ol、ulタグ) */
ol, ul {
	list-style: none;
}

/*ヘッダー*/
header {
	position: fixed;
	top: 0;
	left: 200px;
	width: 100%;
	height: 70px;
	background: #fff;
	z-index: 1000;
	border-left: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}
h1 {
	position: fixed;
	top: 2px;
	left: 14px;
	font-family: 'Playball', cursive;
	font-size: 4rem;
	line-height: 40px;
}
.h1_1 {
	position: fixed;
	top: 20px;
	left: 30px;
}
.h1_2 {
	position: fixed;
	top: 65px;
	left: 30px;
}
h1 a {
	color: #000;
	text-decoration: none;
}
h1 a:hover {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	text-decoration: none;
}
.h1_subcol {
	color: #d70035;
}
/*レイアウト*/
.wrapper {
	float: right;
	width: 100%;
	margin-top: 70px;
	margin-left: -200px;
}
.main {
	width: 100%;
	float: left;
	margin-right: -340px;
}
.content {
	width: 100%;
	float: right;
	margin-left: -220px;
}
.top_content_inner {
	margin-left: 200px;
	margin-right: 340px;
	border-left: solid 1px #ddd;
}
.content_inner {
	margin-left: 200px;
	border-left: solid 1px #ddd;
}
.rightside {
	width: 320px;
	float: right;
	margin: 50px 0 0;
	padding-right: 20px;
}
footer {
	clear: both;
	position: relative;
	width: auto;
	height: 100px;
	margin-left: 200px;
	background: #353535;
}

@media screen and (max-width: 768px) {
/*ヘッダー*/
header {
	left: 0;
	height: 50px;
	border-left: none;
}
h1 {
	font-size: 3rem;
	width: auto;
	z-index: 1100;
	height: 50px;
	line-height: 50px;
}
.h1_1 {
	position: fixed;
	top: 2px;
	left: 50px;
}
.h1_2 {
	position: fixed;
	top: 2px;
	left: 150px;
}
/*レイアウト*/
.wrapper {
	margin: 50px 0 0 0;
}
.main, .content, .content_inner, .top_content_inner {
	margin: 0;
}
.rightside {
	width: 100%;
	margin: 20px;
	padding: 0 0 0 40px;
}
footer {
	margin-left: 0;
}
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
.rightside {
	margin: 20px 0 0;
	padding-right: 20px;
}
}