@charset "utf-8";

/*============================================
全ページ共通のスタイル
============================================*/

/* ブラウザによる初期スタイルをリセットし、レイアウトのずれをなくす */
html, body,
main, aside, nav, header, footer,
h1, h2, h3, h4, h5, h6,
a, p, span, ol, ul, li,
div, section, article,
img, iframe, details, summary, fieldset,
form, label, table, tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* フォントカテゴリ・サイズ・色 (対象:htmlタグ) */
html {
	font-family: Verdana,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
	font-size: 60%; /* 元々は62.5%。違和感を覚えたら元に戻す */
	color: rgb(255, 255, 255);
}

/* (対象:bodyタグ) */
body {
	line-height: 2; /* 行の高さ */
}

/* マウスオーバー時にアンダーラインが引かれる (対象:aタグ) */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* 箇条書きの先頭に表示させるマーカーを消す (対象:ol、ulタグ) */
ol, ul {
	list-style: none;
}

/* (対象:headerタグ) */
header {
	background: rgb(3, 1, 90);
	/* left: 200px; // TODO ここをコメントアウトすることによって、上全体がheaderとなるので、最終的には消して良さそう */
	width: 100%; /* 要素の幅を指定 */
	height: 80px; /* 要素の高さを指定 (実験的にあえて70pxからずらしている) */
	position: fixed; /* スクロールしても常にヘッダーを表示させる */
	z-index: 5; /* 要素同士が重なった時に優先的に表示させる要素を指定 (数字が高いほど優先される) */
}

/*レイアウト*/
.wrapper {
	float: right;
	width: 100%;
	margin-top: 80px; /* 上の要素に対してどれだけ間隔を取るかを指定 */
}
.main {
	width: 100%;
	float: left;
	margin-right: -340px;
}
.content {
	width: 100%;
	float: right;
	margin-left: -220px;
}
.top_content_inner {
	margin-left: 200px;
	margin-right: 340px;
	border-left: solid 1px #ddd;
}
.content_inner {
	margin-left: 200px;
	border-left: solid 1px #ddd;
}
.rightside {
	width: 320px;
	float: right;
	margin: 50px 0 0;
	padding-right: 20px;
}
footer {
	clear: both;
	position: relative;
	width: auto;
	height: 100px;
	background: #353535;
}

/* ページの表示幅が768px以下の場合に適用するスタイルを記述 */
@media screen and (max-width: 768px) {
/* (対象:headerタグ) */
header {
	left: 0;
	height: 80px; /* 要素の高さを指定 (実験的にあえて70pxからずらしている) */
	border-left: none;
}
h1 {
	font-size: 3rem;
	width: auto;
	z-index: 1100;
	height: 50px;
	line-height: 50px;
}
.h1_1 {
	position: fixed;
	top: 2px;
	left: 50px;
}
.h1_2 {
	position: fixed;
	top: 2px;
	left: 150px;
}
/*レイアウト*/
.wrapper {
	margin-top: 80px; /* 上の要素に対してどれだけ間隔を取るかを指定 */
}
.main, .content, .content_inner, .top_content_inner {
	margin: 0;
}
.rightside {
	width: 100%;
	margin: 20px;
	padding: 0 0 0 40px;
}
footer {
	margin-left: 0;
}
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
.rightside {
	margin: 20px 0 0;
	padding-right: 20px;
}
}