<!DOCTYPE html>
<html>

<head>
    <!-- スタイルシート -->
    <link rel="stylesheet" type="text/css" href="/views/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/views/css/modal.css">

    <!-- semantic.css  -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <div>
                <v-navigation-drawer app v-model="drawer" clipped>Navigation Lists</v-navigation-drawer>
                <v-app-bar color="gray accent-4" dark app clipped-left>
                    <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>

                    <v-toolbar-title>びゅうてぃふぁい</v-toolbar-title>

                    <div class="flex-grow-1"></div>

                    <v-btn icon>
                        <v-icon>mdi-heart</v-icon>
                    </v-btn>

                    <form method="get" action="#" class="search_container">
                        <input type="text" size="25" placeholder="　商品を検索" autocomplete="on" list="product">
                        <datalist id="product">
                            <option v-for="(item, index) in computedProducts" :key="item">{{ item.name }}</option>
                        </datalist><input type="submit" value="&#xf002">
                    </form>

                    <v-menu left bottom>
                        <template v-slot:activator="{ on }">
                            <v-btn icon v-on="on">
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>

                        <v-list>
                            <v-list-item v-for="n in 5" :key="n" @click="() => {}">
                                <v-list-item-title>りんく {{ n }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-app-bar>
            </div>
            <v-content>
                <v-container>
                    <!--本文内容-->
                    <v-layout wrap>
                        <div v-for="(item, index) in computedProducts">
                            <v-flex xs12 sm6 md4 text-center my-5>
                                <v-card max-width="344" class="mx-auto">
                                    <v-card-title class="name">{{ item.name }}</v-card-title>
                                    <v-card-text class="memo">{{ item.memo }}</v-card-text>
                                    <v-card-actions>
                                        <v-btn text>もっと見る</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-flex>
                        </div>

                        <v-flex xs12 sm6 md4 text-center my-5>
                            <v-card max-width="344" class="mx-auto">
                                <v-card-title>たいとるなんですこれは</v-card-title>
                                <v-card-text>説明文、説明文。説明文、説明文。説明文、説明文。説明文、説明文。</v-card-text>
                                <v-card-actions>
                                    <v-btn text>もっと見る</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>

                        <div class="content">
                            <a class="js-modal-open" href="">クリックでモーダルを表示</a>
                        </div>
                        <div class="modal js-modal">
                            <div class="modal__bg js-modal-close"></div>
                            <div class="modal__content">
                                <p>ここにモーダルウィンドウで表示したいコンテンツを入れます。モーダルウィンドウを閉じる場合は下の「閉じる」をクリックするか、背景の黒い部分をクリックしても閉じることができます。
                                </p>
                                <a class="js-modal-close" href="">閉じる</a>
                            </div>
                            <!--modal__inner-->
                        </div>
                    </v-layout>

                    <table>
                        <!-- テーブルヘッダー -->
                        <thead v-pre>
                            <tr>
                                <th class="index">No</th>
                                <th class="name">商品名</th>
                                <th class="memo">メモ</th>
                                <th class="state">状態</th>
                                <th class="delete">削除</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in computedProducts">
                                <td class="index">{{ index + 1 }}</td>
                                <td class="name">{{ item.name }}</td>
                                <td class="memo">{{ item.memo }}</td>
                                <td class="state">
                                    <!-- 状態変更ボタン -->
                                    <button v-on:click="doChangeProductState(item)">
                                        {{ labels[item.state] }}
                                    </button>
                                </td>
                                <td class="delete">
                                    <!-- 削除ボタン -->
                                    <button v-on:click="doDeleteProduct(item)">
                                        削除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </v-container>
            </v-content>
            <v-footer>
                <button class="ui orange button">Orange</button>
                <div class="flex-grow-1"></div>
                <div>&copy; 2019 - {{ new Date().getFullYear() }} クモのようにコツコツと</div>
            </v-footer>
        </v-app>
    </div>

    <!-- semantic.js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

    <!-- JQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/views/js/modal.js"></script>

    <script src="/views/js/vueProduct.js" defer></script>
</body>

</html>