<html>

<head>
    <meta charset="UTF-8">
    <title>Sample App</title>

    <!-- BULMAを導入  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
</head>

<body>
    <!-- ヘッダー -->
    <header class="navbar">
        <div class="navbar-brand">
            <!-- Webサービスアイコン -->
            <span class="navbar-item">
                <span class="fa fa-language"></span>一言SNS
            </span>
        </div>
        <div class="navbar-end">
            <!-- 検索バー・ボタン -->
            <div class="navbar-item field has-addons">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" name="search" placeholder="キーワード検索">
                    </div>
                    <div class="control">
                        <a class="button is-info"><i class="fa fa-search"></i>検索</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-item">
            <!-- ログインボタン -->
            <a href="#"><i class="fa fa-user"></i>ログイン</a>
        </div>
    </header>

    <!-- 本文  -->
    <main class="columns">
        <!-- サイドエリア  -->
        <div class="submenu column is-3">
            <aside>
                カサレアルは、ＸＸＸＸＸＸＸＸを実現する△△△△△△△△です。
            </aside>
        </div>

        <!-- メインエリア  -->
        <div class="column">
            本文
        </div>
    </main>
</body>

</html>